h1 {
    font-weight: 500;
    font-family: 'papyrus';
    color: rgb(255, 255, 255);
}
h2 {
    font-weight: 300;
    font-family: 'Optima', sans-serif;
    color: rgb(255, 255, 255);
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1em;
}
.quote {
    font-family: 'brush Script MT';
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 238, 0) 1px 0 10px;
    font-size: 3em;
    text-align: center;
    margin-top: auto;
}

img {
    width: 40px;
    height: auto;
    margin-bottom: center;
    
}

.name {
    font-weight: 300;
    font-family: 'papyrus', sans-serif;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.Links {
    font-weight: 300;
    font-family: 'papyrus', sans-serif;
}
.active {
    width: 100;
    border: 1px solid rgb(255, 253, 253);
    display: flex;
    margin: 20px;
    padding: 10px;
}

.Links {
    font-size: 1em;
}

body {
    background-color: rgb(0, 229, 255);
    background-image: url("Images/night-sky-milky-way-galaxy_601658-108.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

.button-group {
    display: flex;
}

nav {
    background-color: white;
}

footer {
    background-color: white;
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    padding: 1em;
}