h1 {
    font-weight: 500;
    font-family: 'papyrus';
    color: rgb(255, 255, 255);
}
h2 {
    font-weight: 300;
    font-family: 'Optima', sans-serif;
    color: rgb(255, 255, 255);
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1em;
}
h5 {
    font-weight: 300;
    font-family: 'Optima', sans-serif;
    color: rgb(225, 250, 4);
    font-size: 2.5em;
    text-align: center;
    text-shadow: rgb(255, 238, 0) 1px 0 10px;
}
.quote {
    font-family: 'brush Script MT';
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 238, 0) 1px 0 10px;
    font-size: 3em;
    text-align: center;
    margin-top: auto;
}

img {
    width: 40px;
    height: auto;
    margin-bottom: center;
    
}

.fname {
    font-weight: 300;
    font-family: 'papyrus', sans-serif;
    font-size: 4em;
    color: rgb(214, 233, 140);
    text-shadow: rgb(255, 238, 0) 1px 0 10px;
    
}

label {
    font-weight: 300;
    font-size: 1.2em;
    font-family: 'Optima', sans-serif;
    color: rgb(255, 255, 255);
}

.Links {
    font-weight: 300;
    font-family: 'papyrus', sans-serif;
    font-size: 2em;
}

.active {
    width: 100;
    border: 1px solid rgb(255, 253, 253);
    display: flex;
    margin: 20px;
    padding: 10px;
    text-align: right;
}

body {
    background-color: rgb(4, 4, 4);
    background-image: url("Images/night-sky-milky-way-galaxy_601658-108.jpeg");
    background-repeat: no-repeat;
    background-size: cover;  
    
}

.form {
    font-weight: 50;
    font-family: 'papyrus', sans-serif;
    font-size: 1.85em;
    color: rgb(255, 255, 255);
    display: grid;
    justify-content: space-around;
    padding: 5em;
}
input {
    font-weight: 50;
    font-family: 'papyru', sans-serif;
    font-size: 1em;
    color: rgb(4, 4, 4);
}

.button-group {
    display: flex;
    
}

nav {
    background-color: white;
    
}

footer {
    background-color: white;
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    padding: 1em;
}

footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
}
  